<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/src/components/styles/fonts/fonts.css">
    <link rel="stylesheet" href="Register.css">
    <link rel="stylesheet" href="/src/components/styles/header.css">
</head>
<body>
<header>
    <div class="logo-container">
        <img src="/src/assets/logos/Logo-Nombre-Blanco.svg" alt="Logo">
    </div>
</header>
<main>
    <section class="create-account-container">
        <div class="register-steps-container">
            <h1>Crear Cuenta</h1>
            <h2 id="registro">¡Registrarte Solo toma 5 minutos!</h2>

            <div class="register-steps">
                <div class="icon-container">
                    <img src="/src/assets/icons/Correo.svg" alt="Correo">
                </div>
                <div class="info-container">
                    <h2>E-Mail</h2>
                    <p>Ingresa el e-mail con el que accederás a la aplicación</p>
                </div>
            </div>

            <div class="register-steps">
                <div class="icon-container">
                    <img src="/src/assets/icons/celular.svg" alt="celular">
                </div>
                <div class="info-container">
                    <h2>Celular</h2>
                    <p>Ingresa tu número de celular también lo podrás usar para acceder a la aplicación</p>
                </div>
            </div>

            <div class="register-steps">
                <div class="icon-container">
                    <img src="/src/assets/icons/Informacion-personal.svg" alt="Personal-info">
                </div>
                <div class="info-container">
                    <h2>Datos Personales</h2>
                    <p>Los necesitaremos para validar tu identidad y poder ofrecerte una mejor experiencia de usuario</p>
                </div>
            </div>

            <div class="register-steps">
                <div class="icon-container">
                    <img src="/src/assets/icons/face-id.svg" alt="Face-id">
                </div>
                <div class="info-container">
                    <h2>Verificación de Rostro</h2>
                    <p>Lo usaremos para mejorar la seguridad y que solo tú puedas acceder a tu cuenta</p>
                </div>
            </div>

            <div class="register-steps">
                <div class="icon-container">
                    <img src="/src/assets/icons/carga-documentos.svg" alt="Carga-documentos">
                </div>
                <div class="info-container">
                    <h2>Carga de Documentos</h2>
                    <p>Necesitamos comprobar que los datos ingresados son reales y verificar tu identidad</p>
                </div>
            </div>

            <div class="register-steps">
                <div class="icon-container">
                    <img src="/src/assets/icons/contraseña.svg" alt="Contraseña">
                </div>
                <div class="info-container">
                    <h2>Crear una Contraseña</h2>
                    <p>Si no podemos verificar tu identidad con el reconocimiento facial tendrás que usar tu contraseña</p>
                </div>
            </div>

            <button>Comenzar</button>

            <p>Toda la información que ingreses está segura y encriptada, nadie podrá acceder a ella. Para conocer como tratamos tu información personal puedes consultar nuestra Política de <mark>Privacidad</mark><b>*</b></p>
        </div>
    </section>
</main>
</body>
</html>